<%# provide(:title, "Home") %>
<% if logged_in? %>
  <%= render "shared/logged_in" %>
<% else %>
  <%= render "shared/not_logged_in" %>
<% end %>
<p>
  Gumiotterを作成した人
  <a href="https://twitter.com//inf_scq">Gumio</a>
</p>
