<h1>Gumiotter</h1>

<p>やぁ、<%= @user.name %>さん</p>

<p>
登録してくれてありがとうなあ<br>
けど、まだ登録は出来てないんや<br>
せやから、以下のリンクから本人確認だけさせてな!!!
</p>

<%= link_to "私は本人や！！", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>
