<footer class="footer">
  <small>
    The <a href="https://gumio-android.herokuapp.com/">Gumiotter</a>
    by <a href="https://twitter.com//inf_scq">Gumio</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Gumiotterについて", about_path%></li>
      <li><%= link_to "連絡", contact_path%></li>
      <li><a href="https://twitter.com//inf_scq">最新情報</a></li>
    </ul>
  </nav>
</footer>
